body {
  font-family: Roboto, Arial, sans-serif;
  background: #ECEFF1;
  color: rgba(0, 0, 0, 0.87); }

a {
  color: #039be5; }

#message {
  max-width: 400px;
  margin: 40px auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  background: white;
  padding: 16px 24px; }

#message h1 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin: 0 0 16px; }

#message p {
  font-weight: 300;
  line-height: 150%; }

#message ul {
  list-style: none;
  margin: 16px 0 0;
  padding: 0;
  text-align: center; }

#message li a {
  display: inline-block;
  padding: 8px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  background: #039be5;
  color: white;
  border: 1px solid #039be5;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.menu-logo {
  max-width: 50%;
  margin-top: .5em; }

.button-list {
  margin: 1em; }

@font-face {
  font-family: bauhaus;
  src: url(/fonts/bauhaus-93.ttf); }
.logo {
  font-family: bauhaus;
  font-size: xx-large;
  color: white; }

.navbar-default {
  background-color: #175DC1;
  border-color: #4D95D9; }
  .navbar-default .navbar-brand {
    color: #CCDFF3; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #6CBDF1; }
  .navbar-default .navbar-text {
    color: #CCDFF3; }
  .navbar-default .navbar-nav > li > a {
    color: #CCDFF3; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #6CBDF1; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #6CBDF1;
    background-color: #4D95D9; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #6CBDF1;
    background-color: #4D95D9; }
  .navbar-default .navbar-toggle {
    border-color: #4D95D9; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #4D95D9; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #CCDFF3; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #CCDFF3; }
  .navbar-default .navbar-link {
    color: #CCDFF3; }
    .navbar-default .navbar-link:hover {
      color: #6CBDF1; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #CCDFF3; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #6CBDF1; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #6CBDF1;
    background-color: #4D95D9; } }

/*# sourceMappingURL=main.css.map */
